[Reference Paths]
GRCh37cds: /juno/work/ccs/bandlamc/neoantigens/Homo_sapiens.GRCh37.75.cds.all.fa.gz
GRCh37cdna: /juno/work/ccs/bandlamc/neoantigens/Homo_sapiens.GRCh37.75.cdna.all.fa.gz

[NetMHC]
#netmhc_path: /ifs/res/taylorlab/bandlamc/neoantigens/van-allen/NetMHCpan-3.0a/netMHCpan-3.0/
#netmhc_bin_path: /ifs/res/taylorlab/bandlamc/neoantigens/van-allen/NetMHCpan-3.0a/netMHCpan-3.0/Linux_x86_64/

#netmhc4_bin_path: /ifs/res/taylorlab/bandlamc/neoantigens/NetMHC_4.0_tools/netMHC-4.0/netMHC
#netmhc4_alleleslist: /ifs/res/taylorlab/bandlamc/neoantigens/NetMHC_4.0_tools/netMHC-4.0/data/allelelist
#netmhcpan4_bin_path: /ifs/res/taylorlab/bandlamc/neoantigens/NetMHC_4.0_tools/netMHCpan-4.0/netMHCpan

netmhc_bin_path: /juno/work/ccs/bandlamc/neoantigens/netMHC-4.0/netMHC-4.0/netMHC
netmhc_bin_version: 4.0
netmhc_alleleslist: /juno/work/ccs/bandlamc/neoantigens/netMHC-4.0/netMHC-4.0/data/allelelist

netmhcpan_bin_path: /juno/work/ccs/bandlamc/neoantigens/netMHCpan-4.1b/netMHCpan-4.1/netMHCpan
netmhcpan_bin_version: 4.1b


[POLYSOLVER]
polysolver_bin: /juno/work/ccs/bandlamc/neoantigens/pipelines/polysolver/shell_call_hla_type_singularity
