[Reference Paths]
GRCh37cds: /ifs/res/taylorlab/bandlamc/neoantigens/Homo_sapiens.GRCh37.75.cds.all.fa
GRCh37cdna: /ifs/res/taylorlab/bandlamc/neoantigens/Homo_sapiens.GRCh37.75.cdna.all.fa

[NetMHCpan]
netmhc_path: /ifs/res/taylorlab/bandlamc/neoantigens/van-allen/NetMHCpan-3.0a/netMHCpan-3.0/
netmhc_bin_path: /ifs/res/taylorlab/bandlamc/neoantigens/van-allen/NetMHCpan-3.0a/netMHCpan-3.0/Linux_x86_64/

[POLYSOLVER]
polysolver_bin: /ifs/res/taylorlab/bandlamc/neoantigens/pipelines/polysolver/shell_call_hla_type_singularity
