[Reference Paths]
GRCh37cds: /ifs/res/taylorlab/bandlamc/neoantigens/Homo_sapiens.GRCh37.75.cds.all.fa.gz
GRCh37cdna: /ifs/res/taylorlab/bandlamc/neoantigens/Homo_sapiens.GRCh37.75.cdna.all.fa.gz

[NetMHCpan]
netmhc_path: /ifs/res/taylorlab/bandlamc/neoantigens/van-allen/NetMHCpan-3.0a/netMHCpan-3.0/
netmhc_bin_path: /ifs/res/taylorlab/bandlamc/neoantigens/van-allen/NetMHCpan-3.0a/netMHCpan-3.0/Linux_x86_64/

netmhc4_bin_path: /ifs/res/taylorlab/bandlamc/neoantigens/NetMHC_4.0_tools/netMHC-4.0/netMHC
netmhc4_alleleslist: /ifs/res/taylorlab/bandlamc/neoantigens/NetMHC_4.0_tools/netMHC-4.0/data/allelelist
netmhcpan4_bin_path: /ifs/res/taylorlab/bandlamc/neoantigens/NetMHC_4.0_tools/netMHCpan-4.0/netMHCpan

[POLYSOLVER]
polysolver_bin: /ifs/res/taylorlab/bandlamc/neoantigens/pipelines/polysolver/shell_call_hla_type_singularity
